/****************** Início da Página Login***************/
#container{
    width: 320px;
    height: 100%;
    border: 2px solid white;
    padding: 1em;
    margin: auto;
    margin-top: 10em;
}
#container h2{
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
    margin: auto;
}
#container input{
    display: block;
    width: 18em;
    height: 2em;
    margin: auto;
    padding: 1em;
    border: none;
}
#container input[type="submit"]{
    width: 10em;
    font-size: 0.9em;
    height: 3em;
    padding: 0;
    margin: auto;
    margin-top: 1em;
    border: 0.3em solid #cccccc64;
    cursor: pointer;
    background-color: white;
    color: black;
}
input#Usuário{
    background-image: url(icone-usuario.png);
    background-repeat: no-repeat;
    background-position: 0.5em;
    border: none;
    padding: 1em;
}
input#senha{
    background-image: url(icone-cadeado.png);
    background-repeat: no-repeat;
    background-position: 0.5em;
}
#container input{
    padding-left: 2.5em;
}
body{
    font-family: 'Trebuchet MS','Lucida Sans', Arial, sans-serif;
    background-color: #ccc;
}
input#Usuário{
    background-image: url(icone-usuario.png);
    background-repeat: no-repeat;
    background-position: 0.5em;
    border: none;
}
/****************** Fim da Página Login***************/







/****************** Início da Página Recuperar Senha***************/

#container_recuperarSenha{
    width: 320px;
    height: 100%;
    border: 2px solid white;
    padding: 3em;
    margin: auto;
    margin-top: 10em;
}
#container_recuperarSenha h2{
    text-align: center;
    font-size: 2em;
}
#container_recuperarSenha input[type="email"]{
    width: 15em;
    height: 2em;
    font-size: 0.9em;
    margin-left: 2em;
    padding-left: 3.5em;
    background-image: url(iconeDeEmail.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 2.5em;
}
#container_recuperarSenha input[type="submit"]{
    width: 10em;
    font-size: 0.9em;
    height: 3em;
    padding: 0;
    margin: auto;
    margin-top: 2em;
    margin-left: 5.5em;
    border: 0.3em solid #cccccc64;
    cursor: pointer;
    background-color: white;
    color: black;
}